/*!
 * shengbangshenghua
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: arial; }

.top {
  background-color: #7418a1;
  width: 100%;
  height: 5px;
  margin-bottom: 50px; }

header .navbar-default {
  background-color: #fff;
  border: none; }

.main {
  padding-bottom: 40px; }
  .main .col-md-12 {
    text-align: center; }
    .main .col-md-12 h2 {
      font-size: 30px; }
    .main .col-md-12 p {
      font-size: 14px;
      color: #69757e; }
    .main .col-md-12 a {
      background: #6b15a1;
      padding: 12px 26px;
      color: #fff;
      font-size: 14px;
      border-radius: 3px;
      margin-top: 28px;
      display: inline-block; }
      .main .col-md-12 a:hover {
        text-decoration: none;
        background: #3d095d; }
  .main .bottom {
    margin-top: 120px;
    text-align: center; }
    .main .bottom h4 {
      font-size: 16px;
      color: #293a46;
      font-weight: 600; }
    .main .bottom p {
      font-size: 12px;
      color: #697582;
      font-weight: 600;
      letter-spacing: 0.3px; }
    .main .bottom img {
      margin-bottom: 24px; }
  .main .col-md-4 {
    margin-bottom: 30px; }

.team h3 {
  font-size: 16px;
  color: #293a46;
  text-align: center;
  font-weight: 600; }

.team .team-top {
  border: 1px #dddddd solid;
  border-radius: 2px;
  position: relative;
  text-align: center;
  padding-bottom: 30px; }
  .team .team-top img {
    width: 100%;
    height: 150px; }
  .team .team-top .content {
    text-align: center;
    margin-top: -50px; }
    .team .team-top .content img {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      border: 3px #fff solid; }
    .team .team-top .content p {
      font-size: 14px;
      color: #293a46;
      font-weight: 500; }
    .team .team-top .content a {
      background: #6b15a1;
      padding: 10px 15px;
      color: #fff;
      border-radius: 3px;
      margin-top: 20px;
      display: inline-block; }
      .team .team-top .content a:hover {
        text-decoration: none;
        background: #3d095d; }

.cmon {
  margin-top: 135px; }
  .cmon .cmon1 {
    border-top: 5px #6b15a1 solid;
    padding: 30px 40px 70px 40px;
    border-left: 1px #dddddd solid;
    border-right: 1px #dddddd solid;
    border-bottom: 1px #dddddd solid;
    border-radius: 3px; }
    .cmon .cmon1 ul {
      list-style: none;
      float: left; }
      .cmon .cmon1 ul li:nth-of-type(1) {
        font-weight: 600;
        font-size: 16px; }
    .cmon .cmon1 h4 {
      font-size: 16px;
      color: #293a46;
      font-weight: 600; }
    .cmon .cmon1 p {
      font-size: 14px;
      color: #697176; }
    .cmon .cmon1 .a {
      background: #6b15a1;
      padding: 14px 26px;
      float: right;
      border-radius: 3px; }
      .cmon .cmon1 .a a {
        color: #fff;
        display: inline-block; }
        .cmon .cmon1 .a a:hover {
          text-decoration: none; }

ul::after {
  display: table;
  clear: both;
  content: ""; }

footer {
  text-align: center;
  padding-top: 85px;
  padding-bottom: 50px; }

footer li {
  list-style: none;
  display: inline-block;
  margin: 20px; }

footer li a {
  color: #7415a9;
  text-decoration: none; }

footer li a:hover {
  text-decoration: underline; }

@media (max-width: 720px) {
  .cmon .cmon1 ul {
    width: 100%; }
  .cmon .cmon1 {
    padding-bottom: 150px; } }
